.jumbotron {
    padding-top: 6rem;
    background-color: #FFCBCB;
  }
#gallery {
    background-color: #FFCBCB;
  }
  footer {
    background-color: #d35d6e;
  }
  section {
    padding-top: 6rem;
  }